@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* border: solid rgb(19, 25, 34); */
    border-width: 30px 0px 0px 0px;
    /* padding-left: 12%; */
    height: 100vh;
    overflow: hidden;
}

html {
  background-color: rgb(19, 25, 34);
}

/* MODALS */

.sign-in-modal{
  z-index: 100;
}

.sign-up-modal{
  z-index: 100;
}

.profilePostsDiv::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  body {
    border-width: 0px 0px 0px 0px;
  }
} 