/* .conversationDiv::-webkit-scrollbar {
    display: none;
} */

/* .friendListMessages::-webkit-scrollbar {
    background-color: transparent;
} */

.friendListMessages::-webkit-scrollbar {
    display: none;
}

/* .friendListMessages::-webkit-scrollbar-thumb {
    background: gold;
} */