@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebarIcon {
        @apply relative flex items-center justify-center
        h-12 w-12 mx-auto mt-3
        hover:bg-mainPurple dark:hover:bg-mainDarkPurple shadow-2xl
        rounded-3xl hover:rounded-xl transition-all duration-200
        z-50 bg-mainDarkPurple dark:bg-mainDarkPurple
    }

    .sidebarIconInfo {
        @apply absolute w-auto left-16 scale-0 transition-all
         duration-100 z-50 bg-gray-800 p-1 
    }

    .sidebarIconDarkMode {
        @apply relative flex items-center justify-center
        h-12 w-12 mx-auto shadow-md  mt-3
        rounded-3xl hover:rounded-xl transition-all duration-200
        z-50 
    }

    /* .sideBarMain{
        background: linear-gradient(0deg, #5b53ec 30%, #2c2883 80%, #2c2883);
    } */
}

@media (max-width: 640px) {
    .sidebarIcon {
        @apply mt-0 dark:bg-transparent bg-transparent
    }
}

.sidebarIconInfo {
    border-radius: 10px;
}

/* For toggle sidebar */

.toggleSidebarMainDiv {
    z-index: 5;
    /* background-color: rgb(19, 25, 34); */
}

/* For Messages Sidebar */

.messagesSidebarMainDiv {
    margin-top: 30px;
    padding: 4%;
    padding-top: 5%;
}

/* .messagesContentDiv {

} */

.individualMessages {
    width: 100%;
    border: solid rgb(79,70,229);
    border-width: 2px 2px 2px 2px;
    border-radius: 15px;
    margin-top: 4%;
    padding: 1%;
    background-color: rgb(19, 25, 34);
}

.individualMessages h3 {
    text-align: right;
    margin-right: 2%;
}

.individualMessages p {
    font-size: .8em;
    padding: 1%;
}

.messagesUserPFP {
    margin-top: 2%;
}

.messagesUserPFP img {
    border: solid 2px rgb(79,70,229);
}

/* For Likes Scroll */

.homepageLikedPosts::-webkit-scrollbar {
    display: none;
}