.mainNavbarDiv {
    position: fixed;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.navBarSearchBar {
    background-color: transparent;
    border: solid 1px rgb(79,70,229);
}

/* For Sidebar */

.sidebarMainDiv {
    width: 8vw;
    height: 100vh;
    /* background-color: rgb(31,41,55); */
    background-color: rgb(19, 25, 34);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 50;
    padding: .9%;
}

.sidebarLogo {
    padding-top: 25%;
    padding-bottom: 12%;
}

.sidebarLinkList {
    border: solid rgb(79,70,229);
    border-width: 2px 0px 2px 0px;
}

/* For toggle sidebar */

.toggleSidebarMainDiv {
    z-index: 5;
    /* background-color: rgb(19, 25, 34); */
    border: solid rgb(79,70,229);
    border-width: 0px 0px 0px 2px;
}

/* For Messages Sidebar */

.messagesSidebarMainDiv {
    margin-top: 30px;
    padding: 4%;
    padding-top: 5%;
}

/* .messagesContentDiv {

} */

.individualMessages {
    width: 100%;
    border: solid rgb(79,70,229);
    border-width: 2px 2px 2px 2px;
    border-radius: 15px;
    margin-top: 4%;
    padding: 1%;
    background-color: rgb(19, 25, 34);
}

.individualMessages h3 {
    text-align: right;
    margin-right: 2%;
}

.individualMessages p {
    font-size: .8em;
    padding: 1%;
}

.messagesUserPFP {
    margin-top: 2%;
}

.messagesUserPFP img {
    border: solid 2px rgb(79,70,229);
}