@tailwind base;
@tailwind components;
@tailwind utilities;

.mainNavbarDiv {
    position: fixed;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

@layer components {
    .sidebarIcon {
        @apply relative flex items-center justify-center
        h-12 w-12 mx-auto shadow-md bg-gray-800 mt-3
        hover:bg-indigo-700 
        rounded-3xl hover:rounded-xl transition-all duration-200
        z-50 dark:bg-green-500
    }

    .sidebarIconInfo {
        @apply absolute w-auto left-16 scale-0 transition-all
         duration-100 z-50 bg-gray-800 p-1 
    }
}

.sidebarIconInfo {
    border-radius: 10px;
}

/* For toggle sidebar */

.toggleSidebarMainDiv {
    z-index: 5;
    /* background-color: rgb(19, 25, 34); */
}

/* For Messages Sidebar */

.messagesSidebarMainDiv {
    margin-top: 30px;
    padding: 4%;
    padding-top: 5%;
}

/* .messagesContentDiv {

} */

.individualMessages {
    width: 100%;
    border: solid rgb(79,70,229);
    border-width: 2px 2px 2px 2px;
    border-radius: 15px;
    margin-top: 4%;
    padding: 1%;
    background-color: rgb(19, 25, 34);
}

.individualMessages h3 {
    text-align: right;
    margin-right: 2%;
}

.individualMessages p {
    font-size: .8em;
    padding: 1%;
}

.messagesUserPFP {
    margin-top: 2%;
}

.messagesUserPFP img {
    border: solid 2px rgb(79,70,229);
}

/* For Likes Scroll */

.homepageLikedPosts::-webkit-scrollbar {
    display: none;
}