@tailwind base;
@tailwind components;
@tailwind utilities;

.profileMainDiv {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    padding: 3%;
}

@layer components {
    .profilePostImg {
        @apply rounded-xl transition-all duration-200
        z-50  w-full h-64 object-cover
    }
    /* .profilePostTitle {
        @apply 
    } */
}